@model IEnumerable<BanHang.Models.EF.OrderDetail>
<style>
    .letter-table {
        width: 100%;
        max-width: 600px; /* Adjust the width as needed */
        margin: auto;
        border: 1px solid #ddd;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
    }

        .letter-table th, .letter-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }

        .letter-table th {
            background-color: #f2f2f2;
        }

        .letter-table tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }
</style>



<table class="table letter-table">
    <thead>
        <tr>
            <th class="text-center">
                ID sản phẩm
            </th>
            <th class="text-center">
                tên sản phẩm
            </th>
            <th class="text-center">
                số lượng
            </th>
            <th class="text-center">
                giá/kg
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @item.ProductId
                    </td>
                    <td class="text-center">@Html.Action("NameProduct", "Profile", new { id = item.ProductId })</td>
                    <td class="text-center">@item.Quantity</td>
                    <td class="text-center">@item.Price / kg</td>

                </tr>
            }
        }
    </tbody>
</table>