@model IEnumerable<BanHang.Models.EF.Ship>
<div>
    @if (Model != null && Model.Any()) {
        foreach(var item in Model) { 
            <h4>ID đơn giao hàng: @item.Id</h4>
            @Html.Action("Order", "Profile",new {id= item.Id})
            if(item.StatusShip == 1) { 
                <h4><span>Tình trạng hàng: chưa giao</span></h4>
                <a href="javascript:void(0);" class="btn btn-success" onclick="Shipped(@item.Id)">Cập nhật</a>
            }
            else{
                <h4><span>Tình trạng hàng: đã giao</span></h4>
            }
        }
    }
</div>
<script>
    function Shipped(id) {
        var id = id;
        var t = 2;
        var conf = confirm('giao hàng?');
        if (conf == true) {
            $.ajax({
                url: '/profile/Shipped',
                type: 'POST',
                data: { id: id, trangthai: t },
                success: function (res) {
                    if (res.Success) {
                        location.reload();
                    }
                }
            });
        }
    }
</script>