@model BanHang.Models.EF.Comment

<div id="test">

    @using (Html.BeginForm("Details", "Products", FormMethod.Post, new { enctype ="multipart/form-data" , onSubmit ="return test(this)" }))
    {
        @Html.AntiForgeryToken()
        if (Request.IsAuthenticated)
        {
            {
                <div class="form-group" id="comment">

                    <label for="exampleInputEmail1">Bình luận</label>
                    <input type="text" id="txttest" />


                </div>
            }

            <div class="col-3 text-left">
                <button type="submit" id="testclick" onclick ="Create()" class=" btn btn-success btnCreate" value="Thêm">test</button>

            </div>
        }
        else
        {
            <p>Đăng nhập để bình luận</p>
        }
    }

</div>
@section scripts{
    <script>

        function Create() {
            var comment = { com: $('#txttest').val() };
            $.ajax({
                url: '/comment/create',
                type: 'POST',
                data: { com: comment },
                success: function (rs) {
                    if (rs.Success) {
                        window.location.reload();
                    }
                }
            });
        
        
    </script>
}
