@model BanHang.Models.EF.Ship
<div class="form-group">
    
    @Html.DropDownListFor(x => x.userid, ViewBag.user as SelectList, "-Chọn người giao", new { @class = "form-control",id="usership" })
    
</div>