@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<!-- Slider -->
<div class="main_slider" style="width;margin-top:100px;background-image:url(/Content/assets/images/CO.jpg);">
    <div class="container fill_height">
        <div class="row align-items-center fill_height">
            <div class="col">
                <div class="main_slider_content">
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height:1900px">

        <div style="height: 1950px; width: 200px; background-color: #28a745; ">
        </div>

        <div style="bottom:1900px;left:100px">
            <!-- Banner -->
            @Html.Action("MenuProductCategory", "Menu");

            <!-- New Arrivals -->
            
            <div class="new_arrivals">
                <hr style=" width: 800px; margin-left: 444px; margin-top: 1rem; margin-bottom: -3rem; border: 0; border-top: 5px solid rgb(228 91 15 / 50%);">
                <div class="container">
                    @Html.Action("MenuArrivals", "Menu")
                </div>
            </div>
            <hr style=" width: 800px; margin-left: 444px; margin-top: 1rem; margin-bottom: -3rem; border: 0; border-top: 5px solid rgb(228 91 15 / 50%);">
            <div class="new_arrivals">
                <div class="container">
                    @Html.Action("BestSeller", "Menu")
                </div>
            </div>
            <hr style=" width: 800px; margin-left: 444px; margin-top: 1rem; margin-bottom: -3rem; border: 0; border-top: 5px solid rgb(228 91 15 / 50%);">
            @Html.Action("Partial_News_Home", "News")
        </div>
</div>