
@{
    ViewBag.Title = "Đặt hàng thành công";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/asets/styles/single_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/asets/styles/single_responsive.css">

    <div class="container single_product_container" style="margin-top:160px">
        <div class="row">
            <div class="col">

                <!-- Breadcrumbs -->

                <div class="breadcrumbs d-flex flex-row align-items-center">
                    <ul>
                        <li><a href="/Home/Index">Trở lại trang chủ</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12" >
               <h2>Bạn đã mua hàng thành công</h2>
            </div>
            
        </div>

    </div>


@section scripts{
    <script src="~/Content/assets/js/single_custom.js"></script>

}
